<div id="freezeBg" style="display: none; z-index: 30; position: fixed; top: 0px; left: 0px;"></div>
<form action="" method="post">
    <input type="hidden" name="userId" value="<%=user._id %>" />
    <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
    <div id="profilepopup" class="crm-modal crm-effect" style="top: 0;">
        <div class="crm-content">
            <div class="popup__head">Account Information</div>
            <div class="popup-body">
                <div class="form_container">
                    <div class="form_title">User Information</div>
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <input type="text" name="fname" class="form-input" value="<%=user.fname%>">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" name="lname" class="form-input req" value="<%=user.lname%>">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-input req" value="<%=user.email%>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input type="text" name="role" class="form-input req" value="<%=user.role%>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="profile">Profile</label>
                        <input type="text" name="profile" class="form-input req" value="<%=user.profile%>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="alias">Alias</label>
                        <input type="text" name="alias" class="form-input" value="<%=user.alias%>">
                    </div>
                    <div class="form-group">
                        <label for="phone">phone</label>
                        <input type="tel" name="phone" class="form-input" value="<%=user.phone%>">
                    </div>
                    <div class="form-group">
                        <label for="mobile">mobile</label>
                        <input type="tel" name="mobile" class="form-input" value="<%=user.mobile%>">
                    </div>
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="url" name="website" class="form-input" value="<%=user.website%>">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="datepicker" name="dob" class="form-input" placeholder="DD/MM/YYYY" value="<%=user.dob%>">
                    </div>
                    <div class="form_title">Address Information</div>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input type="text" name="street" class="form-input" value="<%=user.address.street%>">
                    </div>
                    <div class="form-group">
                        <label for="city">city</label>
                        <input type="text" name="city" class="form-input" value="<%=user.address.city%>">
                    </div>
                    <div class="form-group">
                        <label for="state">state</label>
                        <input type="text" name="state" class="form-input" value="<%=user.address.state%>">
                    </div>
                    <div class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input type="text" name="zipcode" class="form-input" value="<%=user.address.zipcode%>">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" name="country" class="form-input" value="<%=user.address.country%>">
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <div class="btn-groups">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-cancel" onclick="closeModal('profilepopup', 'freezeBg')">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>